lab2/venv/
lab2/.idea/
.DS_Store
.gitignore.swp
lab2/__pycache__/
lab2/password_hashes.json
lab3/__pycache__/
.idea/
venv/
lab1_sem7/__pycache__/
lab2/lab2.zip
lab3/lab3.zip
lab2_sem7/__pycache__/
lab3_sem7/main
lab4_sem7/main
lab5_sem7/main
